python-telegram-bot==13.7  # Kararlı sürüm
instaloader==4.9.2  # Instagram için
python-dotenv==0.19.0  # Çevre değişkenleri
flask==2.0.3  # Web arayüzü için
gunicorn==20.1.0  # WSGI sunucusu
setuptools==59.6.0  # Paket yönetimi
